@media print{
	background-color: yellow;
}

@media projection{
	background-color: green;
}

.ul-menu {
  list-style: none;
  margin: 0;
  padding-left: 0; 
  margin-top:50px;
  height: 50px; 
}
.a-menu {
  text-decoration: none; 
  opacity:0.8;
  text-shadow: 1px 1px 2px black, 0 0 1em white;
  padding:0px 78px; 
  font-family: arial;
  line-height:20px; 
  display: block; 
}
.a-menu:hover {
  color:black;
}
.li-menu {
  float:left; 
  list-style-type: none;
  position:relative; 
}

    .li-menu > .ul-menu {
        position:relative;
        top:10px;
        display:none;   
    }
     
   
    .li-menu:hover > .ul-menu {
        display:block; 
        width:20em;  
    }
   .li-menu:hover > .ul-menu > .li-menu {
        float:none;
		background:#9e9e9eA0; 
    }
	 
@font-face                                          	
{   
	font-family: HappySpratCyrillic;                        	   
	src: url(font.ttf);                  
}

a{
	text-decoration:none;
	color: white;
}


@keyframes dottt {
    from {color: white;}
    50% {color: black;}
    to {color: white;}
}


#text1{animation: dottt 2s infinite ease;}

#bug2{
	width: 30px;
}

.ease { transition-timing-function: ease; }

font li {
	color:white;
}

#star {
  left: 0;
  position: relative;
  transition: 1.3s;
  transform:rotate(360deg);
}

#bug{
	width: 50px;
}

html{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	text-align: center;
}

body{
	background-image: url("kek.jpg");
	background-repeat: repeat;
	background-size: 107%;
}

#text1{
	size:16; 
	font-face: Candara;
	text-align:left;
	text-shadow: 1px 1px 2px black, 0 0 1em white;
}

#text1::first-letter {
  text-transform: uppercase;
}

#headl{
	text-align: center;
	font-size:50;
	color:#FFFFFF;
	font-family: HappySpratCyrillic, 'Comic Sans MS', cursive;
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
}

#headl_gal{
	text-align: center;
	font-size:50;
	color:#FFFFFF;
	font-family: HappySpratCyrillic, 'Comic Sans MS', cursive;
	text-shadow: 1px 1px 2px black, 0 0 1em white;
}

#header{
	display:flex;
	width:100%;
	min-width: 80em;
	min-height: 8em;
	background-color: #9e9e9eA0;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 15px #30074a;
}

#navigation  .navb {
	text-align:center;
	display: inline-flex;
	margin-left: 1em;
	min-width: 3em;
	width: 20em;
	min-height: 4em;
	height: 4em;
	font-size: 1.2em;
	background-color: #9e9e9eA0;
    opacity:0.8;
	text-shadow: 1px 1px 2px black, 0 0 1em white;
	box-shadow: 1px 1px 15px #30074a;
}


.navb2 {
	justify-content: center;
	text-shadow: 1px 1px 2px white, 0 0 1em blue;
}



#dop {
	display: flex;
	flex-direction: column;
}

#menu {
	display: flex;
}

#dop:hover > #menu{
	display: flex;
}

.submenu {
	padding: 0 0.2em;
	transition: background-color 1s;
	margin-left: 1.2em;
	margin-top: 0.5em;
	font-size: 0.7em;	
}

[title]:hover::after {
    background: rgba(0,0,0);
    border-radius: 5px;
    bottom: 30.4em;
    color: #fff;
    content: attr(title);
    left: 45%;
    padding: 5px 15px;
    position:absolute;
    z-index: 9;
    width: 120px;
}

#body {
	width: 100%;
	height: 300%;
	min-height: 30em;
	min-width: 80em;
	background-color: #9e9e9eA0;
	box-shadow: 1px 1px 15px #30074a;
}

#body_gal{
	background-color:#30074a;
	background-image:
   radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 20px),
   radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 10px),
   radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 20px),
   radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 0px);
	background-size: 500px 300px, 220px 50px, 100px 100px, 50px 50px; 
	background-position: 0 0, 20px 30px,65px 90px, 30px 50px;
	box-shadow: 1px 1px 15px #30074a;
}

p {text-align:justify;
	width: 95%;
	margin-left: 2%;
	margin-right: 2%;
}


#grad:hover{
	transform: translateX(4em);
}

#spisok{
	text-align:center;
	font-size:20;
	color: white;
	font-weight:bold;
	text-shadow: 1px 1px 2px black;
}

.gall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gall img {
    transform: scale(0.9);
    object-fit: scale-down;
    width: 30em;
    height: 30em;
    margin: 0 10px 5px 0;
    transition-duration: .5s;
}

.gall img:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.piu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}